/** Content module custom styles **/
.territories-clearance .add-clearance,
.languages .update-all-languages,
.content-documents .add-files-to-airtime{
	position: absolute;
	top:10px;
	right: 10px;
}

.territories-clearance .upload-file{
	position: absolute;
	top:10px;
	right: 35px;
}


.content-preparation .add-files-to-aws{
	position: absolute;
	top:10px;
	right: 10px;
}

.territories-clearance .add-clearance .fas.fa-plus-circle,
.territories-clearance .upload-file .fas.fa-upload,
.languages .update-all-languages .fas.fa-pen-square{
    color: #fff;
	font-size: 14px;
}

.close{
    position: absolute;
    top: 25px;
    right: 25px;
    color: #fff;
    z-index: 99;
    opacity: 1;
}

.territory_list{
    display: block;
    float: left;
    width: 100%;
    height: auto;
    overflow: auto;
	padding-left: 0;
}

.territory_list li{
	list-style-type:none;
}


.territory_list li > label{
	margin: 0;
}

.territory_name, .genre_name{
    margin-left: 10px;
    font-size: 13px;
}

.territory_list .col_1{
	width: 50%;
    display: block;
    float: left;
}

.territory_list .col_2{
	width: 50%;
    display: block;
    float: right;
}

.modal-body{
	min-height: 195px;
}

.modal-content{
	background: none;
    box-shadow: none;
    border: none;
}

.clearance-list-item{
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-collapse: collapse;
    border-top-color:rgb(221, 221, 221);
    border-top-style:solid;
    border-top-width:1px;
    box-sizing:border-box;
    color:rgb(15, 13, 18);
    display:table-cell;
    font-family:"Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size:13px;
    font-weight:400;
    height:35px;
    line-height:18.5714px;
    background: #fff;
    float: left;
}

.red{
	color: #b7001f;
}

.green{
	color: #256f2b;
}

.valid-clearance{
	font-size: 20px;
}

.input-container textarea, textarea.input-field{
    min-height: 70px;
    overflow-y: auto;
}

#genres{
	display: block;
    float: left;
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#genres li{
	list-style-type: none;
}

#genres_container{
	display: block;
    float: left;
    width: calc( 70% - 20px );
    box-sizing: border-box;
    padding: 10px 10px;
    list-style-type: none;
	font-weight: bold;
	border: 1px solid rgb(188, 188, 188);
    color: rgb(2, 53, 80);
    background-color: white;
}

.delete_container, .edit_container, .download_xml, .download_json{
    width: 24px;
    float: right;
    text-align: right;
    margin-left: 10px;
}

.delete_container > img, .edit_container > img, .download_xml > img, .download_json > img{
	width: 100%;
	height: auto;
	cursor: pointer;
}

.fas.fa-download {
    font-size: 20px;
}

#generate_file{
	display: inline;
}


input[type="file"] {
	position: fixed;
	right: 100%;
	bottom: 100%;
}

.custom-file-upload {
	display: block;
	cursor: pointer;
	color: #000;
	width: 100%;
}


.content-profile-details legend.default-legend{
	color: #000;
}

.content-profile-details input[type=file] {
	display: block;
	color: #000;
}

.content-profile-details input[type="text"].readonly{
	background: #dddddd;
}

.sd_image, .hd_image{
	width: 30px;
    margin: 0 10px;
}



/* Content preparation section */
.content-preparation .delete-movie-file{
	float: right;
    margin: 10px 10px;
}

.content-preparation .file-container{
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.content-preparation .stream-list{
	color: #000;
	list-style-type:none;
}

.content-preparation .file-container h4.file-legend{
	background: #023550;
	text-align: left;
	padding: 5px 0;
}

#content-profile .content-preparation .file-container .streams-container{
	margin-top: 10px;
    padding-top: 2px;
}

#content-profile .el-hidden{
	display: none;
}

.territories-clearance .synchronize-button .at-synchro-img{
	height: 35px;
	margin-top: -10px;
	padding-bottom: 10px;
}

.content-profile-details .group-divider{
	width: calc( 100% - 20px );
	border: 0;
    height: 1px;
    background: #023550;
	background-image: linear-gradient(to right, #ccc, #023550, #ccc);
}

#content-profile .ingestion-date-span{
	font-size: 10px;
	margin: 10px;
	margin-right: 20px;
}

#content-profile .add-files-to-airtime .at-link{
	height: 20px;
	width: auto;
}

#content-profile .add-files-to-airtime-button{
	display: block;
    cursor: pointer;
}

#content-profile .add-files-to-aws-button{
	display: block;
    cursor: pointer;
}

#content-profile .add-files-to-aws .at-link{
	height: 21px;
	width: auto;
}

#content-profile #add-files-to-airtime .close,
#content-profile #add-files-to-aws .close{
	width: 10px;
    color: #000;
    margin-right: 10px;
    font-size: 17px;
}


#content-profile #add-files-to-airtime .airtime_file_type,
#content-profile #add-files-to-aws .airtime_file_type{
    display: block;
    float: left;
    width: 100%;
    padding-inline-start: 0px;
	list-style-type: none;
}

#content-profile #add-files-to-airtime .airtime_file_type input,
#content-profile #add-files-to-aws .airtime_file_type input{
	margin: 0 10px;
}

#content-profile #add-files-to-airtime .airtime_error_message,
#content-profile #add-files-to-aws .airtime_error_message{
    color: #b7001f;
    display: block;
    font-style: italic;
    display: block;
    position: initial;
    margin-bottom: 0;
    margin-top: -5px;
}

#content-profile #add-files-to-airtime ul.airtime_file_type li,
#content-profile #add-files-to-aws ul.airtime_file_type li{
    display: block;
    float: left;
    width: 100%;
    font-weight: 400;
}

#content-profile #add-files-to-airtime ul.airtime_file_type label,
#content-profile #add-files-to-aws ul.airtime_file_type label {
    font-weight: 400;
    font-size: 14px;
}


#content_compile_review_images,
#content_compile_review_subtitles,
#content_compile_review_movies,
#content_compile_review_aws_files{
	width: 100%;
	float: left;
	display: block;
	border-top:none;
	font-size:90%;
	margin-bottom: 10px;
}

#content_compile_review_images div,
#content_compile_review_subtitles div,
#content_compile_review_movies div,
#content_compile_review_aws_files div{
	width: 100%;
	float: left;
}

#content_compile_review_images .section-container,
#content_compile_review_subtitles .section-container,
#content_compile_review_movies .section-container,
#content_compile_review_aws_files .section-container{
	padding-bottom: 10px;
}

#content_compile_review_images .section-line,
#content_compile_review_subtitles .section-line,
#content_compile_review_movies .section-line,
#content_compile_review_aws_files .section-line{
	padding-bottom: 15px;
}

#content_compile_review_images .section-line .checked-content-all,
#content_compile_review_subtitles .section-line .checked-content-all,
#content_compile_review_movies .section-line .checked-content-all,
#content_compile_review_aws_files .section-line .checked-content-all{
	margin: 0;
	margin-left: 6px;
	vertical-align: text-top;
}


#content_compile_review_subtitles .col-subtitles-file-name{
	width: 50%;
}

#content_compile_review_subtitles .col-subtitles-type{
	width: 20%;
}

#content_compile_review_subtitles .col-subtitles-onat{
	width: 15%;
}

#content_compile_review_subtitles .col-subtitles-select{
	width: 15%;
}


/* Content Compile Review - Movie/Trailer section */
#content_compile_review_movies .col-movies-file-name{
	width: 56%;
}

#content_compile_review_movies .col-movies-type{
	width: 10%;
	text-align: center;
}

#content_compile_review_movies .col-movies-onaws{
	width: 8%;
	text-align: center;
}

#content_compile_review_movies .col-movies-onat{
	width: 10%;
	text-align: center;
}

#content_compile_review_movies .col-movies-encoded{
	width: 10%;
	text-align: center;
}

#content_compile_review_movies .col-movies-select{
	width: 6%;
	text-align: center;
}


#content_compile_review_aws_files div .col-file-file-name,
#content_compile_review_aws_files div .col-image-file-name,
#content_compile_review_aws_files div .col-subtitle-file-name{
	width: 58%;
}

#content_compile_review_aws_files div .col-file-type,
#content_compile_review_aws_files div .col-image-type,
#content_compile_review_aws_files div .col-subtitle-type{
	width: 8%;
}

#content_compile_review_aws_files div .col-file-available,
#content_compile_review_aws_files div .col-image-available,
#content_compile_review_aws_files div .col-subtitle-available{
	width: 10%;
}

#content_compile_review_aws_files div .col-file-onaws,
#content_compile_review_aws_files div .col-image-onaws,
#content_compile_review_aws_files div .col-subtitle-onaws{
	width: 8%;
}

#content_compile_review_aws_files div .col-file-onat,
#content_compile_review_aws_files div .col-image-onat,
#content_compile_review_aws_files div .col-subtitle-onat{
	width: 12%;
}

#content_compile_review_aws_files div .col-file-check,
#content_compile_review_aws_files div .col-image-check,
#content_compile_review_aws_files div .col-subtitle-check{
	width: 10%;
}


.content-documents .cloud_status img{
    height: 22px;
    width: auto;
    margin-top: -6px;
}

.content-preparation .cloud_status img{
	height: 22px;
    width: auto;
    margin-top: 0px;
	margin-left: 4px;
    margin-right: 8px;
}