/** Distribution module custom styles **/
.territories-clearance .add-clearance{
	position: absolute;
	top:10px; 
	right: 10px;
}

.territories-clearance .upload-file{
	position: absolute;
	top:10px; 
	right: 35px;
}

.territories-clearance .add-clearance .fas.fa-plus-circle,
.territories-clearance .upload-file .fas.fa-upload {
    color: #fff;
}

.close{
    position: absolute;
    top: 25px;
    right: 25px;
    color: #fff;
    z-index: 99;
    opacity: 1;
}

.territory_list{
    display: block;
    float: left;
    width: 100%;
    height: auto;
    overflow: auto;
	padding-left: 0;
}

.territory_list li{
	list-style-type:none;
}


.territory_list li > label{
	margin: 0;
}

.territory_name, .genre_name{
    margin-left: 10px;
    font-size: 13px;
}

.territory_list .col_1{
	width: 50%;
    display: block;
    float: left;
}

.territory_list .col_2{
	width: 50%;
    display: block;
    float: right;
}

.modal-body{
	min-height: 195px;
}

.modal-distribution{
	background: none;
    box-shadow: none;
    border: none;
}

.clearance-list-item{
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-collapse: collapse;
    border-top-color:rgb(221, 221, 221);
    border-top-style:solid;
    border-top-width:1px;
    box-sizing:border-box;
    color:rgb(15, 13, 18);
    display:table-cell;
    font-family:"Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
    font-size:13px;
    font-weight:400;
    height:35px;
    line-height:18.5714px;
    background: #fff;
    float: left;
}

.red{
	color: #b7001f;
}

.green{
	color: #256f2b;
}

.valid-clearance{
	font-size: 20px;
}

.input-container textarea, textarea.input-field{
    min-height: 70px;
    overflow-y: auto;
}

#genres{
	display: block;
    float: left;
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#genres li{
	list-style-type: none;
}

#genres_container{
	display: block;
    float: left;
    width: calc( 70% - 20px );
    box-sizing: border-box;
    padding: 10px 10px;
    list-style-type: none;
	font-weight: bold;
	border: 1px solid rgb(188, 188, 188);
    color: rgb(2, 53, 80);
    background-color: white;
}

.delete_container, .edit_container, .download_xml, .download_json{
    width: 24px;
    float: right;
    text-align: right;
    margin-left: 10px;
}

.delete_container > img, .edit_container > img, .download_xml > img, .download_json > img{
	width: 100%;
	height: auto;
	cursor: pointer;
}

.fas.fa-download {
    font-size: 20px;
}

#generate_file{
	display: inline;
}


input[type="file"] {
	position: fixed;
	right: 100%;
	bottom: 100%;
}

.custom-file-upload {
	display: block;
	cursor: pointer;
	color: #000;
	width: 100%;
}


.distribution-profile-details legend.default-legend{
	color: #000;
}

.distribution-profile-details input[type=file] {
	display: block;
	color: #000;
}

.distribution-profile-details input[type="text"].readonly{
	background: #dddddd;
}

.sd_image, .hd_image{
	width: 30px;
    margin: 0 10px;
}



/* Distribution preparation section */
.distribution-preparation .delete-movie-file{
	float: right;
    margin: 10px 10px;
}

.distribution-preparation .file-container{
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.distribution-preparation .stream-list{
	color: #000;
	list-style-type:none;
}

.distribution-preparation .file-container h4.file-legend{
	background: #023550;
	text-align: left;
	padding: 5px 0;
}

#distribution-profile .distribution-preparation .file-container .streams-container{
	margin-top: 10px;
    padding-top: 2px;
}

.distribution-bg{
	background-color: rgba( 92, 92, 92, 1) !important;
	color: #FFF !important;
}


.btn-distro, .distro-btn{
    background-color: #C8C8C8;
    color: #fff;
    padding: 8px 5%;
    font-size: 15px;
    margin: 10px auto 10px auto;
    border: none;
    text-align: center;
    min-height: 37px;
	display: block;
    width: 100%;
}

.btn-distribution {
    color: #fff !important;
	background: rgba(2, 53, 80);
}

.shadow-distribution:hover,
.shadow-distribution:focus,
.shadow-distribution:visited,
.shadow-distribution:active,
.distribution-shadow:hover,
.distribution-shadow:focus,
.distribution-shadow:visited,
.distribution-shadow:active{
	color: #fff !important;
	background: rgba(2, 53, 80);
	/* border-bottom: 4px solid red; */
}