order deny,allow
allow from all

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT,L] 

Options -Indexes

#Localhost
allow from ::1 
allow from 127.0.0.1

#ServerIP
allow from 109.228.9.30 

#LDTV
allow from 217.20.28.30 

#LDTV
allow from 109.239.87.242 

#Tracie
allow from 86.163.100.28 
