.profile-details-container label {
	color: #fff !important;
}

/** Job module custom styles **/
.nav_menu {
    background: rgba(0, 146, 205);
    background-color: #0092CD !important;
}

.nav.side-menu>li.current-page, 
.nav.side-menu>li.active {
    background: rgba(0, 146, 205);
    background-color: #0092CD !important;
}

.nav.side-menu>li.active>a {
   background: rgba(0, 146, 205);
    background-color: #0092CD !important;
}

a{ color: #0092CD;
	font-weight: bold;
}

.account-color,
.color-account,
.text-account{
	color:#0092CD !important;
}

.account-bg{
	background: #0092CD !important;
    background-color: #0092CD !important;
	color: #fff !important;
}

.btn-account {
    color: #fff !important;
    background-color: #0092CD;
    border-color: #0092CD;
}

.top_search .form-control {
    border: 1px solid rgba(0, 146, 205, 0.6) !important;
}

.account-border,
.border-account {
	border: 1px solid rgba(0, 146, 205, 0.6) !important;
}

.account-shadow,
.shadow-account{
	-webkit-box-shadow: 4px 8px 4px 0px rgba(0, 146, 205,0.6);
	-moz-box-shadow: 4px 8px 4px  0px rgba(0, 146, 205,0.6);
	box-shadow: 4px 8px 4px  0px rgba(0, 146, 205,0.6);
}

.account-shadow:hover,
.account-shadow:focus,
.account-shadow:visited,
.account-shadow:active,
.shadow-account:hover,
.shadow-account:focus,
.shadow-account:visited,
.shadow-account:active{
	color: #0092CD;
}

.form-group.top_search .account-search_input,
.form-group.top_search .account-search_input:focus{
	border: 1px solid rgba(0, 146, 205, 0.6);
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 146, 205, 0.3) !important;
    -moz-box-shadow: 4px 4px 4px 0px rgba( 0, 146, 205, 0.3) !important;
    box-shadow: 4px 4px 4px 0px rgba( 0, 146, 205, 0.3) !important;
}

.top_search .account-bg.btn-default, .account-bg.btn-default,
.top_search .account-bg.btn-default:hover, .account-bg.btn-default:hover,
.top_search .account-bg.btn-default:focus, .account-bg.btn-default:focus,
.top_search .account-bg.btn-default:visited, .account-bg.btn-default:visited, 
.top_search .account-bg.btn-default:active, .account-bg.btn-default:active{
	background-color: #0092CD;
	color: #fff;
    border: 1px solid rgba( 0, 146, 205, 0.6 );
    -webkit-box-shadow: 4px 4px 4px 0px rgba( 0, 146, 205, 0.3 );
    -moz-box-shadow: 4px 4px 4px 0px rgba( 0, 146, 205, 0.3 );
    box-shadow: 4px 4px 4px 0px rgba( 0, 146, 205, 0.3 );
}

input.datepicker-account{
	border: 1px solid rgba( 0, 146, 205, 0.6 );
	-webkit-box-shadow: 4px 4px 4px 0px rgba(0, 146, 205, 0.3) !important;
    -moz-box-shadow: 4px 4px 4px 0px rgba( 0, 146, 205, 0.3) !important;
    box-shadow: 4px 4px 4px 0px rgba( 0, 146, 205, 0.3) !important;
	/* color: #0092CD; */
	color: #8d8d8d;
}