/** Fleet module custom styles **/
.nav_menu {
    background: rgba( 92, 92, 92, 1);
    background-color: rgba( 92, 92, 92, 1)!important;
}

.nav.side-menu>li.current-page,
.nav.side-menu>li.active {
    background: rgba( 92, 92, 92, 1);
    background-color: rgba( 92, 92, 92, 1)!important;
}

.nav.side-menu>li.active>a {
    background: rgba( 92, 92, 92, 1);
    background-color: rgba( 92, 92, 92, 1)!important;
}

a{ color: #0092CD;
	font-weight: bold;
}

.fleet-color,
.color-fleet,
.text-fleet{
	color:#0092CD !important;
}

.fleet-bg{
	background-color: rgba( 92, 92, 92, 1) !important;
	color: #FFF !important;
}

.btn-fleet {
    color: #fff !important;
    background-color: #0092CD;
    border-color: #0092CD;
}

.top_search .form-control {

}

.fleet-border,
.border-fleet {
	border: 1px solid rgba( 92, 92, 92,  0.6) !important;
}

.fleet-shadow,
.shadow-fleet{
	-webkit-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3);
	-moz-box-shadow: 4px 4px 4px  0px rgba( 92, 92, 92, 0.3);
	box-shadow: 4px 4px 4px  0px rgba( 92, 92, 92, 0.3);
}

.fleet-shadow:hover,
.fleet-shadow:focus,
.fleet-shadow:visited,
.fleet-shadow:active,
.shadow-fleet:hover,
.shadow-fleet:focus,
.shadow-fleet:visited,
.shadow-fleet:active{
	color: #f4f4f4;
}



.top_search .fleet-search_input,
.top_search .fleet-search_input:focus{
	border: 1px solid rgba( 92, 92, 92,  0.6);
    -webkit-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92,  0.3 ) !important;
    -moz-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3 ) !important;
    box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3 ) !important;
	background-color: rgba( 92, 92, 92, 1 );
	color: #fff;
}

.top_search .fleet-bg.btn-default, .fleet-bg.btn-default,
.top_search .fleet-bg.btn-default:hover, .fleet-bg.btn-default:hover,
.top_search .fleet-bg.btn-default:focus, .fleet-bg.btn-default:focus,
.top_search .fleet-bg.btn-default:visited, .fleet-bg.btn-default:visited,
.top_search .fleet-bg.btn-default:active, .fleet-bg.btn-default:active{
	background-color: #5c5c5c;
	color: #fff;
    border: 1px solid rgba( 0, 146, 205, 0.6 );
    -webkit-box-shadow: 4px 4px 4px 0px rgba( 0, 146, 205, 0.3 );
    -moz-box-shadow: 4px 4px 4px 0px rgba( 0, 146, 205, 0.3 );
    box-shadow: 4px 4px 4px 0px rgba( 0, 146, 205, 0.3 );
}


.btn-fleet-active{
    background: #fff;
    color: #5c5c5c;
    border: 1px solid #5c5c5c;
}


.create_new_vehicle_container .input-group.form-group{
	width: 100%;
}

.error_message {
    color: #ff0000;
}

.shaded{
    -webkit-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3) !important;
    -moz-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3) !important;
    box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3) !important;
}


.min_height_70{
	min-height: 70px;
}


.create_new_vehicle_container .btn-back{
	background-color: #5c5c5c;
    border: 1px solid #5c5c5c;
}

.right_panel{
	padding-top: 30px;
	padding-bottom: 60px;
}

.left_panel{
	min-height: 500px;
	height: auto;
}

.veh_details_action_btns{
	position: absolute;
    bottom: 20px;
}

#deleteVehicleForm{
	position: absolute;
	bottom: 20px;
	right: -3px;
}
