/** People module custom styles **/
.nav_menu {
    background: rgba( 92, 92, 92, 1);
    background-color: rgba( 92, 92, 92, 1) !important;
}

.nav.side-menu>li.current-page, 
.nav.side-menu>li.active {
    background: rgba( 92, 92, 92, 1);
    background-color: rgba( 92, 92, 92, 1) !important;
}

.nav.side-menu>li.active>a {
   background: rgba( 92, 92, 92, 1);
    background-color: rgba( 92, 92, 92, 1) !important;
}

a{ color: #0092CD;
	font-weight: bold;
}

.people-color,
.color-people,
.text-people{
	color:rgba( 92, 92, 92, 1) !important;
}

.people-bg{
	background: rgba( 92, 92, 92, 1) !important;
	color: #fff !important;
}

.btn-people{
    color: #fff !important;
    background-color: #0092CD;
    border-color: #0092CD;
}

.top_search .form-control {
    /* border: 1px solid rgba(0, 146, 205, 0.6) !important; */
}

.people-shadow,
.shadow-people{
	-webkit-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3 );
	-moz-box-shadow: 4px 4px 4px  0px rgba( 92, 92, 92, 0.3 );
	box-shadow: 4px 4px 4px  0px rgba( 92, 92, 92, 0.3 );	
}

.filters label{
/* 	color: #efad1f !important;
	color: rgba(239, 173 ,31); */
}

.top_search .people-bg.btn-default, .people-bg.btn-default,
.top_search .people-bg.btn-default:hover, .people-bg.btn-default:hover,
.top_search .people-bg.btn-default:focus, .people-bg.btn-default:focus,
.top_search .people-bg.btn-default:visited, .people-bg.btn-default:visited, 
.top_search .people-bg.btn-default:active, .people-bg.btn-default:active{
	background-color: #0092CD;
	color: #fff;
    border: 1px solid rgba( 92, 92, 92, 0.6 );
    -webkit-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3 );
    -moz-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3 );
    box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3 );
}


.people-border, .border-people {
    border: 1px solid rgba( 92, 92, 92, 0.6) !important;
}

.people-shadow:hover,
.people-shadow:focus,
.people-shadow:visited,
.people-shadow:active,
.shadow-people:hover,
.shadow-people:focus,
.shadow-people:visited,
.shadow-people:active{
	color: #f4f4f4;
}

.form-group.top_search .people-search_input,
.form-group.top_search .people-search_input:focus{
	border: 1px solid rgba( 92, 92, 92,  0.6 );
    -webkit-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92,  0.3 ) !important;
    -moz-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3 ) !important;
    box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3 ) !important;
	background-color: rgba( 92, 92, 92, 1 );
	color: #fff;
}

.profile-details-container label{
	color: #fff;
}
