/** Asset module custom styles **/
.nav_menu {
    background: rgba( 92, 92, 92, 1);
    background-color: rgba( 92, 92, 92, 1)!important;
}

.nav.side-menu>li.current-page, 
.nav.side-menu>li.active {
    background: rgba( 92, 92, 92, 1);
    background-color: rgba( 92, 92, 92, 1)!important;
}

.nav.side-menu>li.active>a {
    background: rgba( 92, 92, 92, 1);
    background-color: rgba( 92, 92, 92, 1)!important;
}

a{ 
	color: #0092CD;
	/*font-weight: bold;*/
}

.premises-color,
.color-premises,
.text-premises{
	color:#0092CD !important;
}

.premises-bg{
	background-color: rgba( 92, 92, 92, 1) !important;
	color: #FFF !important;
}

.btn-premises {
    color: #fff !important;
    background-color: #0092CD;
    border-color: #0092CD;
}

.top_search .form-control {
    /* border: 1px solid rgba( 92, 92, 92,  0.6) !important; */
}

.premises-border,
.border-premises {
	border: 1px solid rgba( 92, 92, 92,  0.6) !important;
}

.premises-shadow,
.shadow-premises{
	-webkit-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3);
	-moz-box-shadow: 4px 4px 4px  0px rgba( 92, 92, 92, 0.3);
	box-shadow: 4px 4px 4px  0px rgba( 92, 92, 92, 0.3);	
}

.premises-shadow:hover,
.premises-shadow:focus,
.premises-shadow:visited,
.premises-shadow:active,
.shadow-premises:hover,
.shadow-premises:focus,
.shadow-premises:visited,
.shadow-premises:active{
	color: #f4f4f4;
}

.form-group.top_search .premises-search_input,
.form-group.top_search .premises-search_input:focus{
	    box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3 ) !important;
/* 	border: 1px solid rgba( 92, 92, 92,  0.6);
    -webkit-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92,  0.3 ) !important;
    -moz-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3 ) !important;
background-color: rgba( 92, 92, 92, 1 ); 
	color: #fff;*/
}

.top_search .premises-bg.btn-default, .premises-bg.btn-default,
.top_search .premises-bg.btn-default:hover, .premises-bg.btn-default:hover,
.top_search .premises-bg.btn-default:focus, .premises-bg.btn-default:focus,
.top_search .premises-bg.btn-default:visited, .premises-bg.btn-default:visited, 
.top_search .premises-bg.btn-default:active, .premises-bg.btn-default:active{
	/* background-color: #0092CD;
	color: #fff;
    border: 1px solid rgba( 92, 92, 92, 0.6 );
    -webkit-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3 );
    -moz-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3 );
    box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3 ); */
}

.ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front{
	z-index: 3000;
}
	
.site_item{
    min-height: 36px;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    font-size: 14px;
    padding-left: 12px !important;
	font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}

.premises_details .search_site_btn{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 99;
}

.premises_details .form-control{
	min-height: 34.4px;
}
