/** User module custom styles **/
.nav_menu {
    background: rgba(0, 146, 205);
    background-color: #0092CD  !important;
}

.nav.side-menu>li.current-page, 
.nav.side-menu>li.active {
    background: rgba(0, 146, 205);
    background-color: #0092CD  !important;
}

.nav.side-menu>li.active>a {
   background: rgba(0, 146, 205);
    background-color: #0092CD  !important;
}

a{
	a{ color: #0092CD;
	font-weight: bold;
}

.user-color,
.color-user,
.text-user{
	color:#0092CD !important;
}

.user-bg{
	background: #0092CD !important;
    background-color: #0092CD !important;
	color: #fff !important;
}

.btn-user {
    color: #fff !important;
    background-color: #0092CD;
    border-color: #0092CD;
}

.top_search .form-control {
    border: 1px solid rgba(0, 146, 205, 0.6) !important;
}

.user-border,
.border-user {
	border: 1px solid rgba(0, 146, 205, 0.6) !important;
}

.user-shadow,
.shadow-user{
	-webkit-box-shadow: 4px 4px 4px 0px rgba(0, 146, 205,0.3);
	-moz-box-shadow: 4px 4px 4px  0px rgba(0, 146, 205,0.3);
	box-shadow: 4px 4px 4px  0px rgba(0, 146, 205,0.3);	
}

.filters label{
	color: #fb9736 !important;
}

.user-shadow:hover,
.user-shadow:focus,
.user-shadow:visited,
.user-shadow:active,
.shadow-user:hover,
.shadow-user:focus,
.shadow-user:visited,
.shadow-user:active{
	color: #0092CD;
}



.form-group.top_search .site-search_input, .form-group.top_search .site-search_input:focus {
    border: 1px solid rgba( 92, 92, 92, 0.6 );
    -webkit-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3 ) !important;
    -moz-box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3 ) !important;
    box-shadow: 4px 4px 4px 0px rgba( 92, 92, 92, 0.3 ) !important;
    background-color: rgba( 92, 92, 92, 1 );
    color: #fff;
}




